// <weight>: Use a value from 100 to 900
// <uniquifier>: Use a unique and descriptive class name
.roboto-slab {
                  font-family: "Roboto Slab", serif;
                  font-optical-sizing: auto;
                  font-weight: <weight>;
                  font-style: normal;
              }
// <weight>: Use a value from 100 to 900
// <uniquifier>: Use a unique and descriptive class name
.roboto {
             font-family: "Roboto", sans-serif;
             font-optical-sizing: auto;
             font-weight: <weight>;
             font-style: normal;
             font-variation-settings:
                     "wdth" 100;
         }
// <weight>: Use a value from 400 to 700
// <uniquifier>: Use a unique and descriptive class name
.kode-mono {
                font-family: "Kode Mono", monospace;
                font-optical-sizing: auto;
                font-weight: <weight>;
                font-style: normal;
            }


html, body { font-family: Roboto, sans-serif; font-weight: 400; font-style: normal; font-size: 20px; color: #363636; margin: 0; padding: 0; width: 100%; height: 100%; }
h1 { font-family: "Roboto Slab", sans-serif;  font-weight: 900; }