<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>JS8Call-Improved — Modern HF Digital Communication</title>

    <meta name="description" content="JS8Call-Improved is an enhanced, community-driven evolution of JS8Call, offering modern HF digital communication tools for amateur radio operators.">
    <meta name="robots" content="index, follow">
    <meta name="author" content="JS8Call-Improved Team">

    <link rel="canonical" href="https://js8call-improved.com/">

    <!-- OpenGraph -->
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Modern HF Digital Communication">
    <meta property="og:description" content="An enhanced, community-driven evolution of JS8Call for modern HF digital communication.">
    <meta property="og:url" content="https://js8call-improved.com/">
    <meta property="og:site_name" content="JS8Call-Improved">
    <meta property="og:image" content="https://js8call-improved.com/img/js8call-poster.png">
    <!-- <meta property="og:image:width" content="1200"> -->
    <!-- <meta property="og:image:height" content="630"> -->
    <meta property="og:image:width" content="720">
    <meta property="og:image:height" content="576">
    <meta property="og:image:type" content="image/png">

    <!-- Twitter -->
    <meta name="twitter:title" content="JS8Call-Improved">
    <meta name="twitter:description" content="Modern HF Digital Communication">
    <meta name="twitter:image" content="https://js8call-improved.com/img/js8call-poster.png">
    <meta name="twitter:url" content="https://js8call-improved.com/">
    <meta name="twitter:card" content="summary_large_image">

    <!-- Favicon -->
    <link rel="icon" href="/favicon.ico" sizes="any">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">

    <!-- CSS -->
    <link rel="stylesheet" href="css/default.css">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-K2ZYW3ZFTG"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-K2ZYW3ZFTG');
    </script>
</head>
<body>